:root{
    --primary-color :#1d4381;
    --secondary-color: #fff;
    --background-color: #FFFFFD;
}

body{
    background-color: var(--background-color) !important;
    min-height: 100vh;
}

.top-bar{
    background-color: var(--primary-color);
    justify-content: center;
}
.top-bar-logo{
    height: 10rem;
    width: auto;
    margin-top: -30px;
}

.main-container{
    padding-top: 1%;
    max-width: 1600px !important;
    width: 100% !important;
    padding-bottom: 50px !important;
}

.nav-container{
    margin: -30px 0 20px 0;
}

.main-nav{
    justify-content: center;
    color: var(--secondary-color);
    font-family: 'Urbanist', sans-serif;
}

.main-nav li a{
    text-decoration: none;
    color:inherit;
    margin: 0 15px;
    padding-bottom: 10px;
}

.main-nav li a:hover{
    border-bottom: solid 2px var(--secondary-color);
}

.progress{
    margin:4px 0
}

.imu-data-label{
    padding: 0 10px;
    width: 60px;
    font-weight: 700;
}