:root{
    --primary-color :#1d4381;
    --secondary-color: #fff;
    --background-color: #EEEADE;
}

body{
    background-color: var(--background-color);
}

.top-bar{
    background-color: var(--primary-color);
    justify-content: center;
}
.top-bar-logo{
    height: 10rem;
    width: auto;
}